.event_details {
  background: #254336;
  width: 100%;
  padding: 4rem 0rem;
}
.gap {
  width: 100%;
  height: 5vh;
  background: #254336;
  background: linear-gradient(to right, #254336 30%, #e6f1e8 30%);
  margin-bottom: 1rem;
}
.event_details_container {
  width: 100%;
  background: #254336;
  background: linear-gradient(to right, #254336 30%, #e6f1e8 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 0.5rem;
  font-size: 3.5rem;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.poster {
  width: 400px;
  height: 500px;
}
.poster img {
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 3rem 2rem;
  color: #254336;
}
.description {
  text-align: justify;
  margin-bottom: 1rem;
  font-size: large;
}
.other_details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  text-align: left;
}
.other_details img {
  width: 6rem;
  height: 6rem;
}
@media only screen and (max-width: 1300px) {
  .gap {
    background:  #e6f1e8;
    background: linear-gradient(none);
  }
  .event_details_container {
    background:  #e6f1e8;
    background: linear-gradient(none);
  }
}
@media only screen and (max-width: 900px) {
  .content {
    width: 100%;
  }
}
