* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.team-bg {
  background-image: url('C:\Users\abc\Desktop\I THE BEGGINER\android website\android-club-webapp2\public\TeamPage Assets\hero-bg.jpg');
}

.split-bg {
  background: linear-gradient(to bottom, #16A34A 4.7%, #15803D 4.7%);
}