@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
}

@layer utilities {
  .outlined-text {
    -webkit-text-stroke: 0.2px white;
    /* Webkit syntax for text outline */
    color: #182b23;
    /* Hide the original text */
  }

}

.team-bg {
  background-image: url('C:\Users\abc\Desktop\I THE BEGGINER\android website\android-club-webapp2\public\TeamPage Assets\hero-bg.jpg');
}

.split-bg {
  background: linear-gradient(to bottom, #16A34A 4.7%, #15803D 4.7%);
}