* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outlined-text {
    -webkit-text-stroke: 0.2px white; /* Webkit syntax for text outline */
    color: #182b23; /* Hide the original text */
  }
}
